workflow.json
{
    "name": "toggl",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "toggl",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                460,
                300
            ],
            "name": "Webhook"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"executionId\": {{ $execution.id }}\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "name": "Respond to Webhook"
        },
        {
            "parameters": {
                "command": "=export NOTION_TOKEN=\"{{ $json.body.notion.access_token }}\"\nexport TOGGL_TOKEN=\"{{ $json.body.token }}\"\nexport TIME_DATABASE_NAME=\"{{ $json.body.notion.time_database_id }}\"\nexport DAY_DATABASE_ID=\"{{ $json.body.notion.day_database_id }}\"\nexport WEEK_DATABASE_ID=\"{{ $json.body.notion.week_database_id }}\"\nexport MONTH_DATABASE_ID=\"{{ $json.body.notion.month_database_id }}\"\nexport YEAR_DATABASE_ID=\"{{ $json.body.notion.year_database_id }}\"\nexport ALL_DATABASE_ID=\"{{ $json.body.notion.all_database_id }}\"\nexport CLIENT_DATABASE_ID=\"{{ $json.body.notion.client_database_id }}\"\nexport PROJECT_DATABASE_ID=\"{{ $json.body.notion.project_database_id }}\"\nexport TAG_DATABASE_ID=\"{{ $json.body.notion.tag_database_id }}\"\nexport HEATMAP_BLOCK_ID=\"{{ $json.body.notion.heatmap_block_id }}\"\nexport ACTIVATION_CODE=\"{{ $json.body.activation_code }}\"\nexport REPOSITORY=\"malinkang/toggl2notion\"\nexport REF=\"refs/heads/main\"\nrm log/{{ $json.body.activation_code }}.log\npython3 -m toggl2notion.toggl\nrm -rf heatmap/{{ $json.body.activation_code }}\nrm -rf OUT_FOLDER\ngithub_heatmap notion --notion_token \"$NOTION_TOKEN\" --database_id \"$TIME_DATABASE_NAME\" --date_prop_name \"时间\" --value_prop_name \"金币\" --unit \"金币\" --year \"$(date +%Y)\" --me \"Self\" --without-type-name --background-color='#FFFFFF' --track-color='#ACE7AE' --special-color1='#69C16E' --special-color2='#549F57' --dom-color='#EBEDF0' --text-color='#000000'\nmkdir -p heatmap/{{ $json.body.activation_code }}\nmv OUT_FOLDER/*.svg heatmap/{{ $json.body.activation_code }}/\npython3 -m toggl2notion.update_heatmap\n"
            },
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                900,
                300
            ],
            "name": "Execute Script"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Respond to Webhook": {
            "main": [
                [
                    {
                        "node": "Execute Script",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}